{% for item in site.tools %}
<a class="container d-block rounded border border-secondary mb-3 text-reset text-decoration-none" href="{{ item.url | relative_url }}" markdown="0">
    <div class="row align-items-center" markdown="0">
        <div class="col-md-4 text-center" markdown="0">
            <img class="img-fluid rounded-start" src="{{ item.img | relative_url }}" markdown="0">
        </div>
        <div class="col-md-8" markdown="0">
            <h4 class="card-title" markdown="0">{{ item.title }}</h4>
            <p class="text-primary" markdown="0">{{ item.description }}</p>
        </div>
    </div>
</a>
{% endfor %}